@model IEnumerable<Task3.Models.AspNetUser>

@{
    ViewBag.Title = "Registrations";
}

@{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <p>@ViewBag.Message</p>
        </div>
    }
}

<h2>Registrations list</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Lock status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.LockoutEndDateUtc == null ? "active" : "danger")">
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @{
                        if (item.LockoutEndDateUtc == null)
                        {
                            <p>Not Locked</p>
                        }
                        else
                        {
                            <p>Locked</p>
                        }
                    }
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.Hidden("Action", 0)
                        @*<div class="form-actions no-color">*@
                            <input type="submit" value="@(item.LockoutEndDateUtc == null ? "Lock" : "Unlock")" class="btn btn-default btn-sm" />
                        @*</div>*@
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.Hidden("Action", 1)
                        @*<div class="form-actions no-color">*@
                            <input type="submit" value="Delete" class="btn btn-default btn-sm" />
                        @*</div>*@
                    }  
                </td>
            </tr>
        }
    </tbody>
</table>
